alacritty/themes
calibre
chromium
Code/*
!Code/User
Code/User/*
!Code/User/keybindings.json
!Code/User/settings.json
!Code/User/vs_code_extensions_list.txt
dconf
discord
fcit*
GIMP
htop
ibus
lazygit
Ledger Live
libreoffice
microsoft-edge
pulse
Thunar
torbrowser
QtProject.conf
xfce4
virt-viewer
