layout {
    pane split_direction="vertical" {
        pane name="-" size="20%" borderless=true
        pane name="-" size="60%" focus=true
        pane name="-" size="20%" borderless=true
    }
    pane split_direction="vertical" size="1%" {
        pane size="20%" borderless=true
        pane size="60%" borderless=true {
            plugin location="zellij:status-bar"
            // plugin location="zellij:compact-bar"
        }
        pane size="20%" borderless=true
    }
}
